<h3>スケジュール詳細</h3>
 
<table>
  <tr>
    <th>タイトル</th>
    <td><%= @schedule.title %></td>
  </tr>
  <tr>
    <th>開始日</th>
    <td><%= @schedule.start_at.to_s(:datetime_jp) %></td>
  </tr>
  <tr>
    <th>終了日</th>
    <td><%= @schedule.end_at.to_s(:datetime_jp) %></td>
  </tr>
  <tr>
    <th>投稿日時</th>
    <td><%= @schedule.created_at.to_s(:datetime_jp) %></td>
  </tr>
  <tr>
    <th>終日</th>
    <td>
    <% if @schedule.is_all_day %>
      <strong>○</strong>
    <% end %>
  </td>
  </tr>
  <tr>
    <th>スケジュールメモ</th>
    <td><%= @schedule.memo %></td>
  </tr>
</table>

<div>
  <ul>
    <li><%= link_to "スケジュール一覧に戻る", :schedules %></li>
  </ul>
</div>
